# SonarQube server settings
sonar.host.url=http://localhost:9000
sonar.token=YOUR_SONAR_TOKEN

# Project identification
sonar.projectKey=econ
sonar.projectName=econ
sonar.projectVersion=1.0

# Analysis settings
sonar.sources=client, controllers, middlewares, models, routes, helpers
sonar.test.inclusions=*.test.js, *.i.test.js, *.integration.test.js, *.playwright.test.js, **/__test__/**, **/__tests__/**, **/__atlas_tests__/**, 
sonar.coverage.exclusions=**/*.test.js, **/*.i.test.js, **/*.integration.test.js, **/*.playwright.test.js, **/__test__/**, **/__tests__/**, **/__atlas_tests__/**, test_utils/**

sonar.sourceEncoding=UTF-8
sonar.javascript.lcov.reportPaths=coverage/frontend/lcov.info, coverage/backend/lcov.info